.containers {
  display: flex;
  width: 1440px;
  display: inline-flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px 20px;
  /* border-bottom: 1px solid #e5e5e5; */
}

.email {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.mailfield {
  display: flex;
  gap: 8px;
  /* margin-top: 20px; */
}

.inpute {
  display: flex;
  width: 384px;
  height: 48px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.btn {
  display: flex;
  width: 184px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.cc {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.usaFlag {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
