.container {
  display: flex;
  width: 1440px;
  display: inline-flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px 20px;
}

.no-style {
  color: white;
  text-decoration: none;
  margin: 0;
}

.muse {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 16px;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 16px;
}

.social-payments {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 16px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.payment-icons {
  display: flex;
  gap: 12px;
}

.copyRight {
  margin-top: 0px;
  width: 1440px;
  background-color: black;
  color: white;
  display: inline-flex;
  padding: 20px 20px;
  justify-content: center;
  font-size: 14px;
}
