.sort {
  width: 1440px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.items-fill {
  display: inline-flex;
  gap: 100px;
}

.filter {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.filter > h3 {
  color: var(--Text-Secondary-Text, #888792);

  font-family: Adobe Caslon Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  text-decoration-line: underline;
}

.recomend {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}
