.banner {
  width: 100%;
  max-width: 1024px;
  display: inline-flex;
  flex-direction: column;
  text-align: start;
}

.banner > h1 {
  color: var(--Misc-Text, #252020);
  text-align: center;
  font-family: Simplon Norm;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner > p {
  color: var(--Text-Text, #252020);
  text-align: center;
  font-family: Simplon Norm;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
